[Unit]
Description=optee services

[Service]
ExecStart=/usr/bin/tee-supplicant -d
ExecStop=/usr/bin/killall -s KILL tee-supplicant

[Install]
WantedBy=multi-user.target
