[Unit]
Description=PowerVR consumer services

[Service]
ExecStart=/usr/bin/pvrinit start
ExecStop=/usr/bin/pvrinit stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
