[Unit]
Description=PowerVR consumer services
Before=weston.service

[Service]
ExecStart=/usr/bin/pvrinit start
ExecStop=/usr/bin/pvrinit stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
RequiredBy=weston.service
