[Unit]
Description=Weston Wayland Compositor
After=dbus.service rc.pvr.service multi-user.target

[Service]
User=root
EnvironmentFile=-/etc/default/weston
ExecStart=/usr/bin/weston-launch -u root -- $OPTARGS
ExecStop=/usr/bin/killall -s KILL weston
Type=simple

[Install]
WantedBy=multi-user.target
